#app-wrapper {
  position: relative;
}

#hover-block {
  position: absolute;
  top: 0px; 
  left: 0px; 
  background-color: rgba(0, 0, 0, 0.7); 
  color: white;

  display: flex; /* flexbox! */
  align-items: center; /* vertical center */
  justify-content: center; /* horizontal center */

  padding: 1vh 0px 1vw 0px;

  border-radius: 0px;
  z-index: 1000; /* make sure it's above #app */
  pointer-events: none; 
  font-size: 2vh;
  width: 100vw;
  height: 10vh;
}

body {
  background-color: #e8c491;
  margin: 0;
  padding: 0 0 0 0;
}

#app {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.toolbar {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 16px;
}

.toolbar a {
  padding: 16px;
}




h2 {
  font-family: "Nunito Sans", sans-serif;
  /* padding-left: 0.78vw; */
  padding-bottom: 0px;
  text-align: center
}

img {
  display: block;
  width: 60vw;
}

@media (min-width: 768px) {
  img {
    max-width: 500px; /* limit on larger screens */
    max-height: 500px;
  }
}


.img_hide {
  display: none;
}

.marker {
  width: 19px;
  height: 19px;

  cursor: pointer;

  border: 9px solid #8f2218;
  border-radius: 50%;
  background-color: #fff;

  transform: translate(-50%, -50%);
}

.popup {
  position: absolute;

  display: flex;
  overflow: scroll;
  flex-direction: column;
  align-items: left;

  max-width: 70vw;
  max-height: 50vh;
  padding: 2vh 2vw;

  background: #fff;
  border: 1.5px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 #0003;

  transform: translate(30px, -220px);

  gap: 1vh;

  overflow: auto;
  overscroll-behavior: contain;
  touch-action: pan-y;
}

.popup__text {
  font-size: 14px;
  font-weight: 400;
  white-space: normal;
}

.popup__close {
  padding: 7px;

  font-size: 15px;
  cursor: pointer;

  color: #fff;
  border: none;
  border-radius: 7px;
  outline: none;
  background-color: rgb(219, 46, 46);

  transition: background-color 0.2s;
}

.popup__close:hover {
  background-color: rgb(253, 80, 80);
}

.popup__close:active {
  background-color: rgb(253, 100, 102);
}

h3 {
  font-size: 2.75vh;
  margin: 0px;
}
